
.nav-logo{
    display:flex;
    align-items:center; 
    justify-content:space-between;    
}  

.nav-logo a{     
    font-weight: 600;      
    font-size: 1.0rem;
}

.nav-logo .logo {
  height: 16px;         
  margin-right: 10px;  
  filter: invert(100%) brightness(200%);
}

.nav-logo .danger {
    font-size:var(--fs-md);      
    font-weight: var(--fw-bold);
    margin-left:5px;
    color: var(--color-bg-tertiary:);    
}


.nav-menu {
  display: flex;
  gap: 40px;  
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 1.1rem;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.menu-icons {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.menu-icons i {
  color: var(--color-bg-primary);  
  font-size:30px;
}

.dark-nav{
  background:var(--color-primary);    
   transition:0.5s;  
} 


/*media queries*/ 
@media screen and (max-width: 850px) {  
  .menu-icons {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    position: relative;
    
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0%;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
  }

  .nav-menu.active {
    display: flex; 
  }

  .nav-menu li {
    width: 100%;
    text-align: center;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 2.0rem 0;
    color: #222;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
  }

  .nav-links:hover{
    background: var(--color-primary);
    color: #fff;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
  } 
  .nav-links i,
  .nav-links .material-symbols-outlined {    
    color: #222;
  }

  .nav-links:hover .material-symbols-outlined {
    color: #fff;
  }

  .nav-links-mobile{
    padding:1.5rem;
    display:block;
    text-align:center;
    font-size:1.3rem;
    font-weight:bold;
    width:80%;
    margin:auto;
  }
}

