.schedules-container{
  min-height: 200vh;
  background: linear-gradient(135deg, #5B8FF9, #3A6DD8);
  color: white;
  padding: 50px 20px;
}

.ensayo{
    margin-left:-45px;
    margin-top:-100px;
}


