.admin-container{
    width:100%;
    min-height:100vh;
    background:100vh;
    background:linear-gradient(rgba(8,0,58,0.3),rgba(8,0,25,0.3)),url('../assets/images/fondo_8.jpg');
    background-size:cover;
    backgroud-position:center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    padding-top: 60px;       
}