.news-school{
    width:100%;
    min-height:100vh;
    background:100vh;
    background:url('../assets/images/2.jpg');
    background-size:cover;
    backgroud-position:center;
    background-repeat: no-repeat; 
    background-attachment: fixed;    
}

.headers {
  text-align: center;
  margin-bottom: 20px;  
  padding: 20px;
  border-radius: 12px;
  
}

.headers h1 {
  font-size: 2.5rem;
  color:white;
  margin-top: 60px;  
}

.headers p {
  font-size: 1.5rem;
  color:white;
  
}

