.circular-card {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 30px auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.circular-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;  
}

.icon-pdf {
  width: 70px;
  height: 70px;
}

.circular-info h3 {
  margin: 0;
  font-size: 18px;
  color: #2c3e50;
  font-weight: 700;
}

.circular-info h6 {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.circular-description {
  margin: 16px 0;
  font-size: 18px;
  color: #34495e;
  line-height: 1.5;
  padding: 0 20px;
}

.btn-circular {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;  
   
}



.material-symbols-outlined {
  font-size: 20px;
}

/* Móviles pequeños (hasta 480px) */
@media (max-width: 480px) {
  .circular-card {
    padding: 12px;
    margin: 12px auto;
    max-width: 95%;
  }

  .circular-card .btn.dark-btn {
    width: 100px;     
    height: 30px;
    font-size: 0.75rem;
    border-radius: 20px;
    padding: 6px 10px;
  }

  .icon-pdf {
    width: 40px;
    height: 40px;
  }

  .circular-info h3 {
    font-size: 10px;
  }

  .circular-info h6 {
    font-size: 10px;
  }

  .circular-description {
    font-size: 12px;
    padding: 0 10px;
  }

  .material-symbols-outlined {
    font-size: 12px;
  }

  .btn-download .btn-text {
    font-size: 12px;

  }
  .icon-circular {
    display: none;
  }

  
}

/*  Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .circular-card {
    width: 90%; 
  }
}