.role-dashboard {
  padding: 20px;
  min-height: 100vh;
 
}

.home-header {
  text-align: center;
  margin-bottom: 32px;
}

.home-header h1 {
  font-size: 2.0rem;
  font-weight: 700;
  color: white;
  margin: 80px auto;
}

.current-date {
  font-size: 1.4rem;
  color: #dde1e8ff;
  margin-top: -60px;
  font-style: italic;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  width: 100%;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.card-icon {
  position: absolute;
  top: 16px;
  left: 16px;  
  color: inherit;  
  z-index: 2;
}

.card-title {
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-weight: 800;
  font-size: 1.5rem;
  color: inherit;
  text-align: right;  
}

