.planes-card {
  background-color:#f9f9f9;
  border-radius: 5px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
  padding: 10px;
  margin: 5px auto;
  width: 1300px;
  display: flex;
  align-items: center;
  gap: 12px;
}


.icon-planes {
  font-size:70px;
  color: #3F51B5;
}

.planes-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.planes-title {
  font-size: 1.0rem;
  margin: 0;
  color: #333;
}

.planes-subtitle p {
  margin: 2px 0;
  font-size: 0.9rem;
  color: #666;
}

.planes-date {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  margin-top: 4px;
  color: #555;
}

.icon-planes-date{
    font-size:26px;
    color: #090a09ff;
}

.planes-type p {
  font-size: 0.8rem;  
  font-weight: bold;
  color: #9c27b0;
  margin-top: 5px;
}

.planes-button{
    margin-left: auto;
    margin-right:20px;
    display: flex;
    align-items: center;
    gap:30px;
}

.planes-button button{
    width:50px;
    height:50px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.planes-button button:hover{
    transform: scale(1.05);
}

.icons-planes-right{
  font-size:25px;
}

.planes-button button:nth-child(1) {
  background-color: #0a48f2ff; 
  color: white;
}

.planes-button button:nth-child(2) {
  background-color: #ffc107; 
  color: white;
}

.planes-button button:nth-child(3) {
  background-color: #dc3545; 
  color: white;
}

.plan-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 8px 0;
}

.tag {
  font-size: 0.8rem; 
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight:800;
  display: inline-block;
}

.tag.materia {
  background: #e7f5ff;
  color: #1971c2; 
}

.tag.grado {
  background: #d3f9d8;
  color: #2f9e44; 
}

.tag.periodo {
  background: #fff4e6;
  color: #e8590c;
}

.tag.plan{
  background: #f3f0ff;
  color: #7950f2;
}

.tag.fechas { 
  color: black;
  font-family: 'Courier New', monospace;
  font-size:0.9rem;
  font-weight: 500;
}


.planes-date {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}