.reporte-card {
  display: flex;
  align-items: center;  
  background-color:#f9f9f9;
  border-radius: 5px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
  padding: 10px;  
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 30px;
}

.reporte-card:hover { 
  transform: scale(1.02);
}


.reporte-icon .icon {
  font-size:80px;  
}

.reporte-content {
  flex: 1;
}

.reporte-title {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
  margin: 0;
}

.reporte-subtitle {
  font-size: 14px;
  color: #6b7280;
  margin: 4px 0 0 0;
}

