.tab-content-teacher{
  width: 98%;   
  padding: 10px;
  margin: 15px auto;
  border: 1px solid #ddd;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); 
  min-height: 450px;
  display: flex;
  gap: 10px;
  box-sizing: border-box; 
}

.input-autofill {
  background-color: #f0fdf4 !important; 
  border-color: #22c55e !important;    
  font-weight: 500;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius:30px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

