.planeacion-header h3 {
  color: #333;
  font-size: 1.5rem; 
  text-align: center; 
}

.planeacion-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.action-cards {
  background: #f9f9f9;
  border-radius: 10px;
  border: 2px solid #ddd;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;  
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 120px;
  text-align: left;
}

.action-cards:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);  
}

.action-icons {  
  width: 90px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.icon-white{  
  font-size: 3.5rem;
}

.action-cards:nth-child(1) .action-icons {
  color: #4CAF50;
}

.action-cards:nth-child(2) .action-icons {
  color: #2196F3;
}

.action-card-text {
  flex: 1;
  text-align: left;
}

.planning-title p {
  color: #666;
  margin-top: 5px;
  font-size:1.0rem;
  line-height: 1.5;
}

.btn-large {
  padding: 12px 30px;
  font-size: 1.1rem;
  border-radius: 8px;
}


.form-header {
  margin-bottom: 2rem;
}

.btn-volver {
  margin-bottom: 1rem;
}

