.qualification {
  min-height: 100vh;
  background: #D0E7FF;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.qualification-content {
  width: 95%;
  max-width: 1800px;
  margin: 90px auto 40px;  
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 25px 35px;
  background:#ffff;
}


.table-header{
  background: #2e83c5;
}

